Repository JanCaha/cpp-viewshed-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-version, style-cpp

conda-version:
  name: Update conda version
  entry: ./scripts/precommit/conda_version.sh
  language: script

style-cpp:
  name: Style C++ code
  entry: ./scripts/precommit/clang_format.sh
  language: script

version update
  .pre-commit-config.yaml
  scripts/precommit/conda_version.sh
  scripts/precommit/version_update.sh
Due: none

change bibtex
  README.md
Due: none

clang format
  .clang-format
  clang-format.txt
Due: none

add macos
  .github/workflows/conda_build.yaml
  conda/test_script.sh
Due: none

arc
  .github/workflows/conda_build.yaml
Due: none

conda channel
  .github/workflows/conda_build.yaml
Due: none

add submodules
  .github/workflows/conda_build.yaml
Due: none

try using g++ on macos
  .github/workflows/conda_build.yaml
  conda/variants/macos.yaml
Due: none

macos
  .github/workflows/conda_build.yaml
  conda/variants/macos.yaml
Due: none

add library
  conda/meta.yaml
Due: none

set clang version
  .github/workflows/conda_build.yaml
  conda/variants/macOS.yaml
Due: none

fix
  conda/meta.yaml
Due: none

bump versions
  .github/workflows/conda_build.yaml
  conda/variants/macOS.yaml
Due: none

make functions const
  include/viewshed/losnode.h
Due: style-cpp

add const
  src/library/structures/losnode.cpp
Due: style-cpp

deploy: 9f0e54831c572051e850db7f07270afe993683cf
  classviewshed_1_1LoSNode-members.html
  classviewshed_1_1LoSNode.html
  functions_c.html
  functions_func_c.html
  functions_func_v.html
  functions_v.html
  losnode_8h_source.html
  search/all_11.js
  search/all_2.js
  search/functions_1.js
  search/functions_10.js
Due: none

clang
  .github/workflows/conda_build.yaml
Due: none

set clang
  .github/workflows/test_library.yaml
Due: none

clang
  scripts/install.sh
Due: none

use clang on all unix systems
  .github/workflows/conda_build.yaml
  conda/variants/unix.yaml
Due: none

use clang github
  .pre-commit-config.yaml
  scripts/precommit/clang_format.sh
Due: none

update to qt6
  CMakeLists.txt
  README.md
  cmake/Config.cmake.in
  src/bin/CMakeLists.txt
  tests/CMakeLists.txt
Due: conda-version, style-cpp

fix typo
  include/viewshed/abstractviewshed.h
  src/library/visibility/abstractviewshed.cpp
Due: style-cpp

fix error in naming
  src/library/visibility/abstractviewshed.cpp
Due: style-cpp

new constructor
  src/library/visibility/abstractviewshed.cpp
Due: style-cpp

another approach to handling threads
  src/library/visibility/abstractviewshed.cpp
Due: style-cpp

const things
  include/viewshed/abstractviewshed.h
  include/viewshed/inverseviewshed.h
  include/viewshed/viewshed.h
  src/library/visibility/abstractviewshed.cpp
  src/library/visibility/inverseviewshed.cpp
  src/library/visibility/viewshed.cpp
Due: style-cpp

avoid issues
  src/library/visibility/viewshed.cpp
Due: style-cpp

fix function
  src/bin/commandlinehelper.h
Due: style-cpp

use checkStateChanged
  src/bin/losextractor.cpp
  src/bin/viewshedcalculatorwindow.cpp
Due: style-cpp

skip some tests in debug builds
  tests/testsettings.in.h
  tests/testviewshedtiming.cpp
Due: style-cpp

cmake preset
  CMakePresets.json
  scripts/install.sh
  scripts/test.sh
Due: none

use size_t
  src/library/thread_tasks/threadtasks.cpp
Due: style-cpp

square cells
  src/library/utils/viewshedutils.cpp
Due: style-cpp

update versions
  CMakeLists.txt
  README.md
  conda/meta.yaml
Due: conda-version

qt6
  .github/workflows/test_library.yaml
Due: none

update releases
  .github/workflows/create_releases.yaml
Due: none

qt 6.10.*
  .github/workflows/test_library.yaml
Due: none

use qt 6.9
  .github/workflows/test_library.yaml
Due: none

qt 6.7
  .github/workflows/test_library.yaml
Due: none

Path conditions:
  conda-version: any of: ^CMakeLists.txt
  style-cpp: any of: ^src/.*|^tests/.*|^include/.*$
